<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/static/images/logotab.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100 dark:bg-gray-900 dark:text-white">

  {% include "components/navbar.html.jinja" %}

  <!-- TITLE -->
  <div class="text-center mt-10 px-4">
    <h1 class="text-4xl font-bold underline text-gray-800 dark:text-white">
      MEET THE TEAM!
    </h1>

    <p class="mt-6 max-w-4xl mx-auto text-lg text-gray-700 dark:text-gray-300">
      The brains behind Bookwell include 3 fullstack development students from the Brooklyn STEAM Center.
      As a team, this idea was chosen because we realized many individuals don't have an efficient way
      to book appointments that fits their schedule. We built this to make scheduling simple, fast,
      and frustration-free.
    </p>
  </div>


  <main class="mt-14 flex flex-nowrap overflow-x-auto gap-6 px-6 lg:justify-center pb-10">


    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-2xl w-80 flex-shrink-0 p-6 space-y-4">
      <p class="text-2xl font-bold text-center underline">Prity</p>

      <img class="mx-auto w-36 h-36 object-cover rounded-full border-4 border-violet-300"
        src="/static/members/Prity.png" alt="Prity">

      <p class="text-sm text-gray-600 dark:text-gray-300">
        Hi, my name is Jannatul Prity. I am a Full Stack Developer currently studying at the Brooklyn STEAM Center,
        where I am learning the skills and tools needed to become a successful developer. I aspire to use my work to
        make people’s lives easier and more flexible. To explore some of my projects, feel free to check out my GitHub
        link below.
      </p>

      <a href="https://github.com/JannatulP49" target="_blank"
        class="block text-center font-semibold text-violet-600 dark:text-violet-400 hover:underline">
        GitHub Profile
      </a>
    </div>

    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-2xl w-80 flex-shrink-0 p-6 space-y-4">
      <p class="text-2xl font-bold text-center underline">Sanah</p>

      <img class="mx-auto w-36 h-36 object-cover rounded-full border-4 border-violet-300"
        src="/static/members/ASANAH1.jpg" alt="Sanah">

      <p class="text-sm text-gray-600 dark:text-gray-300">
        Hello, my name is Sanah White and I'm currently a senior at the Brooklyn STEAM Center pursuing fullstack
        development. As of right now the codng languages that I've mastered is Python, HTML and CSS.
        In the future I hope to become a software engineer or developer in the future.
      </p>

      <a href="https://github.com/Sanahw7" target="_blank"
        class="block text-center font-semibold text-violet-600 dark:text-violet-400 hover:underline">
        GitHub Profile
      </a>
    </div>

    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-2xl w-80 flex-shrink-0 p-6 space-y-4">
      <p class="text-2xl font-bold text-center underline">Jahmere</p>

      <img class="mx-auto w-36 h-36 object-cover rounded-full border-4 border-violet-300"
        src="/static/members/jahmere.jpeg" alt="Jahmere">

      <p class="text-sm text-gray-600 dark:text-gray-300">
        Hi there! I’m JahmereQ, a passionate front-end development Senior-student with a keen eye for design and a love
        for coding. My journey in web development began with a fascination for how beautiful and functional websites
        come to life. Now, I’m diving deep into the world of HTML, CSS, JavaScript, and modern frameworks to build
        interactive and user-friendly web experiences.
      </p>

      <a href="https://github.com/JahmereStacks" target="_blank"
        class="block text-center font-semibold text-violet-600 dark:text-violet-400 hover:underline">
        GitHub Profile
      </a>
    </div>

  </main>

</body>