<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-purple-100">

  {% include "components/navbar.html.jinja" %}
  <br>
  <br>
  <p class="text-center text-4xl underline font-bold sm:text-center ">
    MEET THE TEAM!</p>
  <br>
  <br>


  <p class="text-center font-semibold ">The brains behind Bookwell include 3 fullstack development students from the
    Brooklyn
    STEAM
    center. As a team this
    idea was chosen because we realized that there are individuals that don't have an efficient way to book appointments
    that is flexible to their schedule. Us students created this application to make it easier for our user to make
    appointments without the frustration of excessive steps or unclear instructions.</p>
  <br>
  <br>
  <br>
  <br>




  <main
   
    class=" overflow-x-scroll  lg:flex flex-row lg:flex justify-center lg:gap-5 lg:text-center lg:w-full  ">
 
    <div class=" bg-violet-200   lg: py-4 lg: px-5 lg: rounded-lg lg: w-96 lg:ml-2 ">
    
      <br>


      <p class="font-medium text-3xl underline sm: text-center">Prity</p>
      <br>

      <img class="mr-0 justify-self-center rounded-lg" src="/static/members/Prity.png" width="200"
        alt="Image of Prity">
      <br>

      <p class="font-medium text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
        <br>
        <a href="https://github.com/JannatulP49"
        target="_blank"
        class="text-base font-extrabold underline hover:bg-violet-300"
        >Prity's Github Page</a>
    </div>
    <br>
    <br>


    <div class="  bg-violet-200 lg: py-8 lg: px-8 lg: rounded-lg w-96">
    
      <p class="font-medium text-3xl underline text-center">Sanah</p>
      <br>
    
      <img class="mr-0 justify-self-center sm: rounded-lg" src="/static/members/ASANAH1.jpg" width="300" height="190"
        alt="Image of Sanah">
      <br>

      <p class="font-medium text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
        <br>
        <br>

        <a
            href="https://github.com/Sanahw7"
            target="_blank"
            class="text-base font-extrabold underline hover:bg-violet-300"
            >Sanah's Github Page</a
          >
        

        
    </div>
    <br>
    <br>


    <div class="  bg-violet-200 py-8 px-8 rounded-lg w-96  ">
      <p class="font-medium text-3xl underline text-center">Jahmere</p>
      <br>
      <img class="mr-0 justify-self-center   rounded-lg" src="/static/members/jahmere.jpeg" width="190"
        alt="Image of Jahmere">
      <br>

      <p class="font-medium text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
        <br>
        <a
          href="https://github.com/JahmereStacks"
          target="_blank"
          class="text-base font-extrabold underline hover:bg-violet-300"
          >Jahmere's Github Page</a>

    </div>
    </div>

    </div>




  </main>

</body>