<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/static/images/logotab.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style>
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-fade {
  animation: fadeUp 0.8s ease forwards;
}

/* Cards */
.card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

.card:nth-child(1) { animation-delay: 0.06s; }
.card:nth-child(2) { animation-delay: 0.2s; }
.card:nth-child(3) { animation-delay: 0.15s; }
.card:nth-child(4) { animation-delay: 0.2s; }
.card:nth-child(5) { animation-delay: 0.25s; }
</style>
</head>

<body class="dark:bg-gray-900 dark:text-white">
  {% include "components/navbar.html.jinja"%}


  <div class="max-w-6xl mx-auto px-4 py-8 page-fade">
  {% if recommended_categories %}
<div style="margin: 10px 0; padding:10px; background:hwb(269 22% 5%); border-radius:8px;">
    <strong>Recommended Specialty:</strong>
    {{ recommended_categories | join(", ") }}
</div>
{% endif %}


    <form method="get" action="/doctorsearch"
  class="flex flex-col md:flex-row gap-4 mb-8 bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition dark:bg-gray-900 dark:text-white">

<select name="rating"
  class="w-full md:w-1/4 px-4 py-2 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 dark:bg-gray-900 dark:text-white">

  <option value="">Any Rating</option>
  <option value="4">4+ Stars</option>
  <option value="3">3+ Stars</option>
  <option value="2">2+ Stars</option>
</select>

 <input type="text" id="symptoms" name="symptoms"
       list="symptom-list"
       placeholder="Enter symptoms (e.g. chest pain, headache)"
       value="{{ symptom_input or '' }}"
       class="w-full px-4 py-2 border border-gray-200 rounded-lg">

<datalist id="symptom-list">
  {% for symptom in SYMPTOM_MAP.keys() %}
    <option value="{{ symptom }}">
  {% endfor %}
</datalist>

<div id="suggestion" style="margin-top:8px; font-weight:bold; color:#f2eeeb;"></div>

  <select name="category"
  class="w-full md:w-1/3 px-4 py-2 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 dark:bg-gray-900 dark:text-white">

    <option value="">All Categories</option>
    <option value="Cardiology" {% if category_filter=='Cardiology' %}selected{% endif %}>Cardiology</option>
    <option value="Neurology" {% if category_filter=='Neurology' %}selected{% endif %}>Neurology</option>
    <option value="Orthopedic" {% if category_filter=='Orthopedic' %}selected{% endif %}>Orthopedics</option>
    <option value="Pulmonary" {% if category_filter=='Pulmonary' %}selected{% endif %}>Pulmonary</option>
  </select>

  <button type="submit"
    class="bg-purple-600 text-white px-6 py-2 rounded-lg hover:bg-purple-700 transition hover:scale-105 transform">
    Search
  </button>

</form>


   <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 dark:bg-gray-900">
      {% for doctor in doctors %}
     <a href="/doctor/{{ doctor['ID'] }}" class="group card">
  <div class="bg-white shadow-md rounded-xl p-6 flex flex-col items-center
              transition duration-300 hover:scale-105 hover:shadow-xl dark:bg-gray-900 dark:text-white">
          <img src="{{ doctor['Image'] }}" alt="{{ doctor['Name'] }}"
             class="w-32 h-32 object-cover rounded-full border-4 border-purple-500 group-hover:scale-110 transition duration-300 " />

          <div class="flex-1 mt-4 space-y-2 dark:bg-gray-900 dark:text-white">
            <h2 class="text-xl font-semibold text-gray-800 dark:bg-gray-900 dark:text-white">
              {{ doctor['Name'] }}
            </h2>



            <p class="text-sm text-gray-500 mt-2 dark:text-white">
              {{ doctor['Category'] }}
            </p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

  </div>

 <script id="symptom-js">
const symptomMap = {{ SYMPTOM_MAP | tojson }};

const input = document.getElementById("symptoms");
const suggestionBox = document.getElementById("suggestion");

input.addEventListener("input", function () {
    const value = input.value.toLowerCase();
    let matchedCategories = new Set();

    for (const keyword in symptomMap) {
        if (value.includes(keyword)) {
            symptomMap[keyword].forEach(cat => matchedCategories.add(cat));
        }
    }

    if (matchedCategories.size > 0) {
        suggestionBox.innerText = "Recommended: " + [...matchedCategories].join(", ");
    } else {
        suggestionBox.innerText = "";
    }
});
</script>



</body>

</html>