<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="min-h-screen flex flex-col">
  {% include "components/navbar.html.jinja"%}

egfge

  <section class="h-screen/2 min-h-[50vh] radial-gradient(at 0% 50%, rgb(254, 202, 202), rgb(220, 38, 38)) flex items-center justify-center px-6">
    <div class="max-w-4xl text-center">
      <h1 class="text-4xl md:text-5xl font-bold text-white drop-shadow">
        Book Smarter. Faster. Better.
      </h1>
      <p class="mt-6 text-lg md:text-xl text-white/90">
       Book, manage, and reschedule NYU Langone appointments with ease -- synced to your calendar's and tailored to you availability.
      </p>

      <div class="mt-8 flex justify-center gap-4">
        <button class="px-6 py-3 bg-white text-red-600 font-semibold rounded-lg hover:bg-gray-100 transition">
          Get Started
        </button>
        <button class="px-6 py-3 border border-white text-white rounded-lg hover:bg-white hover:text-red-600 transition">
          Connect MyChart
        </button>
      </div>
    </div>
  </section>


  <section class="flex-1 bg-white px-6 py-16">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center">

     
      <div class="border-l-4 border-red-600 pl-6">
        <div class="w-full h-64 bg-gray-200 rounded-lg flex items-center justify-center text-gray-500">
          <img src="/static/images/nyulangone.jpeg" alt="NYU Langone" class="h-30 w-auto  shadow-lg">
        </div>
      </div>

      
      <div>
        <h2 class="text-3xl font-bold text-gray-900">
          Everything You Need in One Place
        </h2>
        <p class="mt-4 text-gray-600 leading-relaxed">
          Manage appointments, automate reminders, reduce no-shows, and deliver a seamless
          scheduling experience for your clients. Built for scalability, security, and speed. We are here to help you get to your doctors stress free Sign Up today!!.
        </p>

        <ul class="mt-6 space-y-3 text-gray-700">
          <li>✔ Smart calendar management</li>
          <li>✔ Automated email & SMS reminders</li>
          <li>✔ Secure your appointment </li>
          <li>✔ Real-time availability</li>
        </ul>
      </div>

