<nav class="flex flex-row-reverse justify-between text-lg bg-red-200 max-h-64 pb-6 text-lg ">

<div class="flex items-center gap-6 font-bold ">

<a href="/" class="hover:bg-red-50">Homepage</a>

<a href="/appoint" class="hover:bg-red-50">Appointments</a>

<a href="/docor" class="hover:bg-red-50">Doctors</a>

<a href="/doctorsearch" class="hover:bg-red-50">Search</a>

<a href="/login" class="hover:bg-red-50">Login</a>

<a href="/signup" class="hover:bg-red-50 mr-6">Register</a>





</div>

</nav>