<nav class="flex justify-end text-black">
<div class="flex flex-row">
<a href="/" class="font-bold">BookWell</a>
</div>
<a href="/appoint" class="hover:bg-neutral-200">Appointments</a>
<a href="/docor" class="hover:bg-neutral-200">Doctors</a>
<a href="/doctorsearch" class="hover:bg-neutral-200">Search</a>
<a href="/login" class="hover:bg-neutral-200">Login</a>
<a href="/signup" class="hover:bg-neutral-200">Register</a>






</nav>